body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 90%;
	background-color: violet;
}
.header-area{
	width: 100%;
	height: auto;
	padding-top: 10px;
}
.left{
	width: 50%;
	height: auto;
	margin-top: 10px;
	float: left;

}
.right{
	width: 50%;
	height: auto;
	overflow: hidden;
}
.right ul li{
	display: inline-block;
}
.right ul li a{
	text-decoration: none;
	padding: 15px;
}
.right ul li a:hover{
	background-color: rgb(0, 238, 255);
	transition: .3s;
}
.btn{
	transform: rotateX();
	border-radius: 50%;
}
.main-left{
	width: 30%;
	height: auto;
	background-color: violet;
	float: left;
}
.main-right{
	width: 70%;
	height: auto;
	background-color: rgb(157, 255, 0)
	overflow: hidden;
}
h2,p{
	text-align: center;
}
